html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #BDBDBD;
}

#banner {
  position: relative;
  width: 100%;
  min-width: 800px;
  height: 150px;
  background-color: #000000;
}

#banner-text {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 150px;

  color: #ec2802;
  font-size: 50pt;
  font-family: "Courier New", sans-serif;
  line-height: 150px;
  text-align: center;
}

#navbar {
  position: fixed;
  width: 150px;
  top: 25%;
  height: 60%;
  bottom: 15%;

  background-color: #000000;
  border: 1px solid black;

  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.navbar-section {
  position: relative;
  width: 130px;
  height: auto;
  margin: 10px;
  background-color: #000000;
  
  color: #ec2802;
  font-family: "Palatino Linotype", sans-serif;
  font-size: 20pt;
  line-height: 100px;
  text-align: center;
  
  -webkit-border-radius: 20px;
  -webkit-transition: background-color 500ms, color 500ms;
  -moz-border-radius: 20px;
  -moz-transition: background-color 500ms, color 500ms;
  border-radius: 20px;
  transition: background-color 500ms, color 500ms;
}

.navbar-current {
  background-color: #D41A1F;
  
  color: #CCCCCC;
}

.navbar-section:hover {
  background-color: #D41A1F;
  
  color: #CCCCCC;
  
  -webkit-cursor: pointer;
  -moz-cursor: pointer;
  cursor: pointer;
}

.navbar-current:hover {
  -webkit-cursor: auto;
  -moz-cursor: auto;
  cursor: auto;
}

a, a:visited {
  color: #ec2802;
  text-decoration: none;
}

a:hover {
  color: #CCCCCC;
}

/* Animations */

#banner {
  opacity: 0;

  -webkit-animation-name: banner;
  -webkit-animation-duration: 750ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;

  -moz-animation-name: banner;
  -moz-animation-duration: 750ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;

  animation-name: banner;
  animation-duration: 750ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@-webkit-keyframes banner {
  0% {
    opacity: 0;
    top: 600px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@-moz-keyframes banner {
  0% {
    opacity: 0;
    top: 600px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes banner {
  0% {
    opacity: 0;
    top: 600px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

#navbar {
  left: -150px;

  -webkit-animation-name: navbar;
  -webkit-animation-duration: 750ms;
  -webkit-animation-delay: 750ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;

  -moz-animation-name: navbar;
  -moz-animation-duration: 750ms;
  -moz-animation-delay: 750ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;

  animation-name: navbar;
  animation-duration: 750ms;
  animation-delay: 750ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@-webkit-keyframes navbar {
  0% {
    left: -150px;
  }
  100% {
    left: 0px;
  }
}
@-moz-keyframes navbar {
  0% {
    left: -150px;
  }
  100% {
    left: 0px;
  }
}
@keyframes navbar {
  0% {
    left: -150px;
  }
  100% {
    left: 0px;
  }
}
