#about-intro {
  position: relative;
  width: 85%;
}

#about-bio {
  position: relative;
  width: 85%;
  margin: 50px 0px 0px 0px;
}

#about-bio a, a:visited {
  color: #000000;
  -webkit-cursor: default;
  -moz-cursor: default;
  cursor: default;
}

.about-bio-table td {
  padding: 10px;
}

.about-bio-table-name {
  background-color: #D4D4D4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.about-bio-table-name-title {
  color: #808080;
}

.about-ftc-image {
  width: 200px;
  height: 200px;
}

.about-portrait-image {
  width: 150px;
  height: 200px;
}
