/*
 * This CSS file contains all the animations used in the FTC webpage.
 * Author: Alvin Lin (alvin.lin@stuypulse.com)
 */

#banner {
  height: 100%;

  -webkit-animation-name: banner;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-delay: 2000ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;

  -moz-animation-name: banner;
  -moz-animation-duration: 1000ms;
  -moz-animation-delay: 2000ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
  
  -ms-animation-name: banner;
  -ms-animation-duration: 1000ms;
  -ms-animation-delay: 2000ms;
  -ms-animation-fill-mode: forwards;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: 1;

  -o-animation-name: banner;
  -o-animation-duration: 1000ms;
  -o-animation-delay: 2000ms;
  -o-animation-fill-mode: forwards;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: 1;
  
  animation-name: banner;
  animation-duration: 1000ms;
  animation-delay: 2000ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@-webkit-keyframes banner {
  0% {
    height: 100%;
  }
  100% {
    height: 100px;
  }
}
@-moz-keyframes banner {
  0% {
    height: 100%;
  }
  100% {
    height: 100px;
  }
}
@-ms-keyframes banner {
  0% {
    height: 100%;
  }
  100% {
    height: 100px;
  }
}
@-o-keyframes banner {
  0% {
    height: 100%;
  }
  100% {
    height: 100px;
  }
}
@keyframes banner {
  0% {
    height: 100%;
  }
  100% {
    height: 100px;
  }
}

.banner-img {
  opacity: 0;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;

  -webkit-animation-name: banner-img;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-delay: 1000ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;

  -moz-animation-name: banner-img;
  -moz-animation-duration: 2000ms;
  -moz-animation-delay: 1000ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
  
  -ms-animation-name: banner-img;
  -ms-animation-duration: 2000ms;
  -ms-animation-delay: 1000ms;
  -ms-animation-fill-mode: forwards;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: 1;

  -o-animation-name: banner-img;
  -o-animation-duration: 2000ms;
  -o-animation-delay: 1000ms;
  -o-animation-fill-mode: forwards;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: 1;
  
  animation-name: banner-img;
  animation-duration: 2000ms;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@-webkit-keyframes banner-img {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    right: 0px;
  }
  100% {
    opacity: 1;
    right: calc(100% - 100px);
  }
}
@-moz-keyframes banner-img {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    right: 0px;
  }
  100% {
    opacity: 1;
    right: calc(100% - 100px);
  }
}
@-ms-keyframes banner-img {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    right: 0px;
  }
  100% {
    opacity: 1;
    right: calc(100% - 100px);
  }
}
@-o-keyframes banner-img {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    right: 0px;
  }
  100% {
    opacity: 1;
    right: calc(100% - 100px);
  }
}
@keyframes banner-img {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    right: 0px;
  }
  100% {
    opacity: 1;
<<<<<<< HEAD
    right: calc(100% - 100px);
=======
    left: 0px;
    right: 100%;
    height: 100px;
>>>>>>> 54edb87573bbf57a729ea66e6f586435ec7fa17e
  }
}

.banner-name {
  opacity: 0;

  -webkit-animation-name: banner-name;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-delay: 3000ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;

  -moz-animation-name: banner-name;
  -moz-animation-duration: 2000ms;
  -moz-animation-delay: 3000ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
  
  -ms-animation-name: banner-name;
  -ms-animation-duration: 2000ms;
  -ms-animation-delay: 3000ms;
  -ms-animation-fill-mode: forwards;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  
  -o-animation-name: banner-name;
  -o-animation-duration: 2000ms;
  -o-animation-delay: 3000ms;
  -o-animation-fill-mode: forwards;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: 1;

  animation-name: banner-name;
  animation-duration: 2000ms;
  animation-delay: 3000ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@-webkit-keyframes banner-name {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes banner-name {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes banner-name {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes banner-name {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#container {
  opacity: 0;

  -webkit-animation-name: container;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-delay: 3000ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;

  -moz-animation-name: container;
  -moz-animation-duration: 2000ms;
  -moz-animation-delay: 3000ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
  
  -ms-animation-name: container;
  -ms-animation-duration: 2000ms;
  -ms-animation-delay: 3000ms;
  -ms-animation-fill-mode: forwards;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: 1;

  -o-animation-name: container;
  -o-animation-duration: 2000ms;
  -o-animation-delay: 3000ms;
  -o-animation-fill-mode: forwards;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: 1;
  
  animation-name: container;
  animation-duration: 2000ms;
  animation-delay: 3000ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@-webkit-keyframes container {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes container {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes container {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes container {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes container {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
