/*
 * This CSS file contains all the animations used in the FTC webpage.
 * Author: Alvin Lin (alvin.lin@stuypulse.com)
 */

#banner {
  height: 100%;

  -webkit-animation-name: banner;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-delay: 2000ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;

  -moz-animation-name: banner;
  -moz-animation-duration: 1000ms;
  -moz-animation-delay: 2000ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;

  -ms-animation-name: banner;
  -ms-animation-duration: 1000ms;
  -ms-animation-delay: 2000ms;
  -ms-animation-fill-mode: forwards;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: 1;

  -o-animation-name: banner;
  -o-animation-duration: 1000ms;
  -o-animation-delay: 2000ms;
  -o-animation-fill-mode: forwards;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: 1;

  animation-name: banner;
  animation-duration: 1000ms;
  animation-delay: 2000ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@-webkit-keyframes banner {
  0% {
    height: 100%;
  }
  100% {
    height: 100px;
  }
}
@-moz-keyframes banner {
  0% {
    height: 100%;
  }
  100% {
    height: 100px;
  }
}
@-ms-keyframes banner {
  0% {
    height: 100%;
  }
  100% {
    height: 100px;
  }
}
@-o-keyframes banner {
  0% {
    height: 100%;
  }
  100% {
    height: 100px;
  }
}
@keyframes banner {
  0% {
    height: 100%;
  }
  100% {
    height: 100px;
  }
}

#banner-img {
  opacity: 0;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;

  -webkit-animation-name: banner-img;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-delay: 1000ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;

  -moz-animation-name: banner-img;
  -moz-animation-duration: 2000ms;
  -moz-animation-delay: 1000ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;

  -ms-animation-name: banner-img;
  -ms-animation-duration: 2000ms;
  -ms-animation-delay: 1000ms;
  -ms-animation-fill-mode: forwards;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: 1;

  -o-animation-name: banner-img;
  -o-animation-duration: 2000ms;
  -o-animation-delay: 1000ms;
  -o-animation-fill-mode: forwards;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: 1;

  animation-name: banner-img;
  animation-duration: 2000ms;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@-webkit-keyframes banner-img {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    right: 0px;
  }
  100% {
    opacity: 1;
    right: calc(100% - 100px);
  }
}
@-moz-keyframes banner-img {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    right: 0px;
  }
  100% {
    opacity: 1;
    right: calc(100% - 100px);
  }
}
@-ms-keyframes banner-img {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    right: 0px;
  }
  100% {
    opacity: 1;
    right: calc(100% - 100px);
  }
}
@-o-keyframes banner-img {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    right: 0px;
  }
  100% {
    opacity: 1;
    right: calc(100% - 100px);
  }
}
@keyframes banner-img {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    right: 0px;
  }
  100% {
    opacity: 1;
    /* Hack-fix for IE */
    right: 100%;
    left: 0px;
  }
}

#banner-name, #container, #copyright {
  opacity: 0;

  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-delay: 3000ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;

  -moz-animation-name: fade-in;
  -moz-animation-duration: 2000ms;
  -moz-animation-delay: 3000ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;

  -ms-animation-name: fade-in;
  -ms-animation-duration: 2000ms;
  -ms-animation-delay: 3000ms;
  -ms-animation-fill-mode: forwards;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: 1;

  -o-animation-name: fade-in;
  -o-animation-duration: 2000ms;
  -o-animation-delay: 3000ms;
  -o-animation-fill-mode: forwards;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: 1;

  animation-name: fade-in;
  animation-duration: 2000ms;
  animation-delay: 3000ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
