/*
 * This CSS file contains most of the styling for the gallery.
 * Author: Alvin Lin (alvin.lin@stuypulse.com)
 */

#gallery {
  width: 100%;
  padding: 10px;
}

#gallery img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

#gallery .gallery-thumbnails {
  width: 100%;
  height: 100px;
  margin-bottom: 5px;
  text-align: center;
  background: rgba(255, 58, 58, 0.75);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

#gallery .gallery-thumbnails img {
  width: auto;
  height: 90px;
  margin: 5px;

  opacity: 0.5;

  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

#gallery .gallery-thumbnails img:hover {
  opacity: 1;
}

#gallery .gallery-display {
  width: 100%;
  height: auto;
  padding: 10px;
  background: rgba(255, 58, 58, 0.75);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

#gallery .gallery-display img {
  width: auto;
  height: 400px;
  margin: auto;
}
