/* Navigation Bar Styling
 * Author: Alvin Lin (alvin.lin@stuypulse.com)
 */

#navbar-hover-area {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 100%;
}

#navbar-hover-area:hover #navbar {
  left: 0px;
}

#navbar {
  position: fixed;
  /* Hacky way to center the navbar vertically */
  top: 50%;
  margin-top: -241.5px;
  left: -142px;
  width: 150px;
  height: auto;

  background-color: #000000;

  /*
   * TODO: fix gradient
  background-image: -webkit-linear-gradient(to bottom, #000000, #707070, #000000);
  background-image: -moz-linear-gradient(to bottom, #000000, #707070, #000000);
  background-image: linear-gradient(to bottom, #000000, #707070, #000000);
   */

  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-transition: left 500ms;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-transition: left 500ms;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: left 500ms;
}

#navbar a, #navbar a:visited {
  color: #BDBDBD;
}

#navbar hr {
  background-color: #BDBDBD;
  margin: 0px 10px 0px 10px;
}

.navbar-section {
  position: relative;
  width: 130px;
  height: 75px;
  margin: 10px;

  font-size: 18pt;
  line-height: 75px;
  text-align: center;

  -webkit-border-radius: 5px;
  -webkit-transition: background-color 250ms;
  -moz-border-radius: 5px;
  -moz-transition: background-color 250ms;
  border-radius: 5px;
  transition: background-color 250ms;
}

.navbar-current {
  background-color: #9E0508;
}

.navbar-section:hover {
  background-color: #ec2802;
}

.navbar-current:hover {
  background-color: #9E0508;

  -webkit-cursor: auto;
  -moz-cursor: auto;
  cursor: auto;
}
