/*
 * This CSS file contains most of the styling needed in the FTC webpage.
 * Author: Alvin Lin (alvin.lin@stuypulse.com)
 */

/* Global Styles and Class */

/* Removes the need to extra math to account for border width and
 * padding when calculating the width/height of an element.
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.content {
  display: block;
  width: 100%;
  min-width: 1080px;
  padding: 100px 0px;
  text-align: center;
}

.large {
  font-size: 40pt;
}

.medium {
  font-size: 18pt;
}

.small {
  font-size: 13pt;
}

/* Page Structure */

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

#banner {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 1080px;
  height: 100%;
  background-color: #000000;
  z-index: 1;
}

.banner-img {
  position: absolute;
  width: auto;
  height: 100%;
  z-index: 2;
}

.banner-name {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  color: #ec2802;
  z-index: 1;
}

#container {
  width: 100%;
  min-width: 1080px;
  height: 100%;
  text-align: right;
  text-align: justify;
  text-justify: inter-word;
}

.ftc {
  height: 500px;
  padding: 200px 100px 500px 100px;
  font-size: 22px;
}

.ftc-logo {
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 10px;
}

.ftc-text {
  border: 10px;
  padding: 10px;
  text-align: left;
  text-align: justify;
  text-justify: inter-word;
}

.team {
  height: 1000px;
  color: #000000;
  background: url("../data/gallery/vectorbot.jpg");
}

.team-tabs {
  width: 80%;
  min-width: 800px;
  list-style-type: none;
  margin: 30px auto;
  padding: 10px;
  background: rgba(204, 204, 204, 0.75);
}

.team-tabs li {
  display: inline;
}

.media {
  height: 500px;
  padding: 200px 0px;
}

.media table {
  margin: auto;
}

.media img {
  width: 200px;
  margin: 10px;
  opacity: 0.5;

  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  transition: opacity 500ms;
}

.media img:hover {
  opacity: 1;
}
