/*
 * This CSS file contains most of the styling needed in the FTC webpage.
 * Styles for smaller subsections such as tabs and animations are located
 * in their respective pages.
 * Author: Alvin Lin (alvin.lin@stuypulse.com)
 */

/* Global Styles and Classes */

@font-face {
  font-family: Corbel;
  src: url('../data/corbel.ttf');
}

@font-face {
  font-family: Corbel;
  src: url('../data/corbel_bold.ttf');
  font-weight: bold;
}

/* Removes the need to extra math to account for border width and
 * padding when calculating the width/height of an element.
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.large {
  font-size: 40pt;
}

.medium {
  font-size: 18pt;
}

.small {
  font-size: 13pt;
}

/* Page Structure */

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: "Corbel", sans-serif;
}

#container {
  width: 100%;
  min-width: 1080px;
  text-align: justify;
  text-justify: inter-word;
}

#banner {
  width: 100%;
  height: 120px;
  background: #000000;

  padding-left: 120px;
  font-size: 50px;
  line-height: 50px;
}

#banner-img {
  position: absolute;
  left: 0;
  width: auto;
  height: 120px;
}

#banner-text {
  width: 450px;
  height: 120px;
  text-align: left;
  color: #fff;
}

#banner-text h2 {
  float: left;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

#banner-text h1 {
  float: left;
  font-size: 60px;
  padding: 0;
  margin: 0;
}

#banner-navbar {
  position: absolute;
  right: 0;
  width: auto;
  height: 120px;
}

#banner-navbar .banner-navbar-section {
  display: inline-block;
  height: 120px;
  padding: 0;
  margin: 0;
  background-color: #fff;

  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

#banner-navbar .banner-navbar-section:hover {
  background-color: #ec2802;
  cursor: pointer;
}

#banner-navbar img {
  width: auto;
  height: 120px;
  margin: 0;
}

#home-slideshow {
  position: relative;
  width: 100%;
  height: 500px;
  z-index: 1;
}

#home-slideshow::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url('../data/gallery/javits_center.jpg');
  background-size: cover;
  opacity: 0.6;
}

#home-content {
  width: 100%;
  height: 500px;
}

#copyright {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  background-color: #000;

  font-size: 20px;
  line-height: 50px;
  color: #fff;
}
