/*
 * This CSS file contains most of the styling needed in the FTC webpage.
 * Author: Alvin Lin (alvin.lin@stuypulse.com)
 */

/* Page Structure */

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0px;
  font-family: "Palatino Linotype", sans-serif;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #EBEBEB;
  overflow: auto;
}

#banner {
  position: absolute;
  top: 0px;
  width: 100%;
  min-width: 800px;
  height: 100px;
  background-color: #000000;
}

.banner-img {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
}

.banner-text {
  position: relative;
  width: calc(100% - 100px);
  height: 100px;
  background-color: #ABCDEF;

  color: #ec2802;
  font-size: 40pt;
  text-align: center;
  overflow: auto;
}

#content-container {
  position: relative;
  width: calc(100% - 200px);
  top: 100px;
  bottom: 0px;
  left: 200px;
}

#navbar-container {
  position: fixed;
  top: 100px;
  left: 0px;
  bottom: 0px;
  width: 200px;
}

#navbar-container:hover #navbar {
  left: 0px;
}

#navbar {
  position: fixed;
  top: 200px;
  left: -142px;
  width: 150px;
  height: auto;

  background-color: #000000;
  border: 1px solid black;

  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-transition: left 500ms;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-transition: left 500ms;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: left 500ms;
}

#navbar hr {
  background-color: #BDBDBD;
  border: 1px solid #BDBDBD;
  margin: 0px 10px 0px 10px;
}

.navbar-section {
  position: relative;
  width: 130px;
  height: auto;
  margin: 10px;
  background-color: #000000;

  font-size: 18pt;
  line-height: 100px;
  text-align: center;

  -webkit-border-radius: 5px;
  -webkit-transition: background-color 250ms, color 250ms;
  -moz-border-radius: 5px;
  -moz-transition: background-color 250ms, color 250ms;
  border-radius: 5px;
  transition: background-color 250ms, color 250ms;
}

.navbar-current {
  background-color: #9E0508;
}

.navbar-section:hover {
  background-color: #D41A1F;
}

.navbar-current:hover {
  background-color: #9E0508;

  -webkit-cursor: auto;
  -moz-cursor: auto;
  cursor: auto;
}

/* Global Styles and Class */

a, a:visited {
  color: #BDBDBD;
  text-decoration: none;
}

#center {
  text-align: center;
}

#large {
  font-size: 24pt;
}

#medium {
  font-size: 18pt;
}

#small {
  font-size: 12pt;
}
