/*
 * This CSS file contains most of the styling needed in the FTC webpage.
 * Styles for smaller subsections such as tabs and animations are located
 * in their respective pages.
 * Author: Alvin Lin (alvin.lin@stuypulse.com)
 */

/* Global Styles and Class */

/* Removes the need to extra math to account for border width and
 * padding when calculating the width/height of an element.
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.large {
  font-size: 40pt;
}

.medium {
  font-size: 18pt;
}

.small {
  font-size: 13pt;
}

/* Page Structure */

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  background-image: url('../data/background.jpg');
}

#banner {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 1080px;
  height: 100%;
  background: #000000;
  z-index: 1;
}

#banner-img {
  position: absolute;
  width: auto;
  height: 100%;
  z-index: 2;
}

#banner-name {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(to right, #000000, #4d4d4d, #000000);
  background-image: -moz-linear-gradient(to right, #000000, #4d4d4d, #000000);
  background-image: -ms-linear-gradient(to right, #000000, #4d4d4d, #000000);
  background-image: -o-linear-gradient(to right, #000000, #4d4d4d, #000000);
  background-image: linear-gradient(to right, #000000, #4d4d4d, #000000);
  
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  color: #ec2802;
  z-index: 1;
}

#container {
  display: block;
  width: 100%;
  padding: 150px;
  text-align: justify;
  text-justify: inter-word;
}

#content {
  width: 100%;
  min-width: 1200px;
  min-height: 600px;
  margin: auto;
  padding: 10px;
  background: rgba(77, 77, 77, 0.25);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

#copyright {
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 10;
  text-align: center;
  background-image: -webkit-linear-gradient(to right, #606060, #adadad, #606060);
  background-image: -moz-linear-gradient(to right, #000000, #adadad, #000000);
  background-image: -ms-linear-gradient(to right, #606060, #adadad, #606060);
  background-image: -o-linear-gradient(to right, #606060, #adadad, #606060);
  background-image: linear-gradient(to right, #606060, #adadad, #606060);
}
