/*
 * This CSS file contains most of the styling needed in the FTC webpage.
 * Author: Alvin Lin (alvin.lin@stuypulse.com)
 */

/* Global Styles and Class */

/* Removes the need to extra math to account for border width and
 * padding when calculating the width/height of an element.
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.content {
  display: block;
  width: 100%;
  min-width: 1080px;
  padding: 100px 0px;
  text-align: center;
}

.large {
  font-size: 40pt;
}

.medium {
  font-size: 18pt;
}

.small {
  font-size: 13pt;
}

/* Page Structure */

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

#banner {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 1080px;
  height: 100%;
  background-color: #000000;
  z-index: 1;
}

.banner-img {
  position: absolute;
  width: auto;
  height: 100%;
  z-index: 2;
}

.banner-name {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  color: #ec2802;
  z-index: 1;
}

#container {
  width: 100%;
  min-width: 1080px;
  height: 100%;
  text-align: right;
  text-align: justify;
  text-justify: inter-word;
}

.ftc {
  height: 800px;
  padding: 200px 100px 500px 100px;
  font-size: 22px;
}

.ftc-logo {
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 10px;
}

.ftc-text {
  border: 10px;
  padding: 10px;
  text-align: left;
  text-align: justify;
  text-justify: inter-word;
}

#ftc-kickoff-countdown-timer {
  padding: 5px;
  background: rgba(196, 196, 196, 1);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.team {
  height: 1000px;
  background: url("../data/gallery/vectorbot.jpg");
  background-size: 100% 1000px;
}

#team-tabs {
  position: relative;
  width: 80%;
  min-width: 800px;
  list-style-type: none;
  margin: auto;
  padding: 20px;
  background: rgba(196, 196, 196, 0.8);

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(50, 50, 50, 0.75);
}

#team-tabs li {
  display: inline;
  height: 200px;
  margin: 5px;
}

#team-tabs li a {
  height: 200px;
  width: 100%;
  padding: 0px 10px;
  color: #000000;
  text-decoration: none;

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 20ms;
  transition: all 200ms;
}

#team-tabs li a:hover {
  background: rgba(39, 39, 39, 0.6);

  cursor: -webkit-pointer;
  cursor: -moz-pointer;
  cursor: -ms-pointer;
  cursor: -o-pointer;
  cursor: pointer;
}

#team-tabs li .selected {
  background: rgba(39, 39, 39, 0.6);
  color: #bebebe;
}

#team-tabs li .unselected {
  background: rgba(105, 105, 105, 0.6);
}

#team-tabs-content {
  height: auto;
}

#team-tabs-content div {
  /* 100% of the the container minus 40px padding */
  width: calc(100% - 40px);

  background: rgba(105, 105, 105, 0.6);
  margin: auto;
  padding: 60px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#team-tabs-content div img {
  float: left;
  width: 150px;
  height: 200px;
  margin: 0px 10px 0px 0px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#team-tabs-content .visible {
  display: block;
  height: auto;
  text-align: left;
  text-align: justify;
  text-justify: inter-word;
  background: rgba(39, 39, 39, 0.6);
  color: #d8d8d8;
}

#team-tabs-content .hidden {
  display: none;
}

.media {
  height: 500px;
  padding: 200px 0px;
}

.media table {
  margin: auto;
}

.media img {
  width: 200px;
  margin: 10px;
  opacity: 0.5;

  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.media img:hover {
  opacity: 1;
}
