/*
 * This CSS file contains most of the styling needed in the FTC webpage.
 * Author: Alvin Lin (alvin.lin@stuypulse.com)
 */

/* Page Structure */

html, body {
  margin: 0px;
  background-color: #EBEBEB;
}

#container {
  width: 100%;
  min-width: 1080px;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  text-justify: inter-word;
}

#banner {
  position: relative;
  width: 100%;
  height: 100px;
  background-image: -webkit-linear-gradient(to right, #000000, #696969, #000000);
  background-image: -moz-linear-gradient(to right, #000000, #696969, #000000);
  background-image: linear-gradient(to right, #000000, #696969, #000000);
}

.banner-img {
  float: left;
  width: 100px;
  height: 100px;
}

.banner-text {
  width: 100%;
  height: 100px;
  color: #ec2802;
  font-size: 40pt;
  line-height: 100px;
  text-align: center;
}

#content-container {
  float: left;
  width: 100%;
  height: 100%;
  padding: 50px 15% 100px 15%;
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  height: 20px;
  background-color: #CACACA;

  line-height: 20px;
  padding-left: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Global Styles and Class */

/* Removes the need to extra math to account for border width and padding
 * when calculating the width/height of an element
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a, a:visited {
  text-decoration: none;
  color: #000000;
}

.center {
  text-align: center;
}

.large {
  font-size: 40pt;
}

.medium {
  font-size: 18pt;
}

.small {
  font-size: 13pt;
}

/* Homepage */

#homepage-content-feed {
  float: left;
  width: 80%;
  height: 100%;
  padding: 10px 50px 0px 5px;
}

#homepage-content-media {
  float: left;
  width: 20%;
  height: 100%;
  padding: 10px 5px;

  background-color: #AFAFAF;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.6);
  -moz-border-radius: 10px;
  -moz-box-shadow:    10px 10px 10px 0px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow:         10px 10px 10px 0px rgba(0, 0, 0, 0.6);
}

/* Pictures */

#pictures-content table {
  margin: auto;
  text-align: center;
}

#pictures-content td {
  padding: 10px;
}

#pictures-content img {
  width: 250px;
  height: auto;
}

/* FIRST */

#first-content {
  margin: auto;
}

#first-content img {
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 10px;
}

.first-content-table-intro {
  padding: 50px 10px 100px 0px;
}

.first-content-table-header {
  background-color: #D4D4D4;
  padding-left: 10px;

  -webkit-border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-border-radius: 5px;
  -moz-box-shadow:    5px 5px 5px 0px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  box-shadow:         5px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

.first-content-table-text {
  padding: 10px 10px 10px 0px;
}

/* About Us */

#about-content {
  margin: auto;
}

.about-content-intro {
  padding: 50px 5px;
}

.about-content-bio-header {
  background-color: #D4D4D4;
  padding-left: 10px;

  -webkit-border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-border-radius: 5px;
  -moz-box-shadow:    5px 5px 5px 0px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  box-shadow:         5px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

.about-content-bio-header span:last-child {
  color: #808080;
}

.about-content-bio-spacer {
  height: 10px;
}

.about-content-bio-text {
  padding: 10px 10px 0px 0px;
}

.about-content-bio-text img {
  float: left;
  width: 150px;
  height: 200px;
  margin-right: 10px;
}

/* Contact Us */

#contact-content table {
  margin: auto;
}

.contact-content-intro {
  padding: 50px 10px 100px 10px;
}

/* Miscellaneous Styles */

.github-link {
  width: auto;
  height: 100px;
  opacity: 0.5;

  -webkit-transition: opacity 750ms;
  -moz-transition: opacity 750ms;
  transition: opacity 750ms;
}

.github-link:hover {
  opacity: 1;
}

