/*
 * This CSS file contains most of the styling needed in the FTC webpage.
 * Styles for smaller subsections such as tabs and animations are located
 * in their respective pages.
 * Author: Alvin Lin (alvin.lin@stuypulse.com)
 */

/* Global Styles and Class */

/* Removes the need to extra math to account for border width and
 * padding when calculating the width/height of an element.
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.large {
  font-size: 40pt;
}

.medium {
  font-size: 18pt;
}

.small {
  font-size: 13pt;
}

/* Page Structure */

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  background-image: url('../data/background.jpg');
}

#banner {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 1080px;
  height: 100%;
  background: #000000;
  z-index: 1;
}

#banner-img {
  position: absolute;
  display: inline;
  width: auto;
  height: 100%;
  z-index: 2;
}

#banner-name {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(to right, #000000, #4d4d4d, #000000);
  background-image: -moz-linear-gradient(to right, #000000, #4d4d4d, #000000);
  background-image: -ms-linear-gradient(to right, #000000, #4d4d4d, #000000);
  background-image: -o-linear-gradient(to right, #000000, #4d4d4d, #000000);
  background-image: linear-gradient(to right, #000000, #4d4d4d, #000000);

  font-size: 60px;
  text-align: center;
  line-height: 100px;
  color: #ec2802;
  z-index: 1;
}

#container {
  width: 100%;
  min-width: 1080px;
  padding: 150px 150px 50px;
  text-align: justify;
  text-justify: inter-word;
}

#content {
  width: auto;
  min-width: 900px;
  min-height: 500px;
  margin: auto;
  padding: 10px;
  background: rgba(77, 77, 77, 0.25);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

#content-team {
  width: 100%;
  margin: auto;
  border-spacing: 5px;
}

#content-team th {
  width: 33%;
  height: 100%;
  text-align: center;
  background: rgba(177, 177, 177, 0.75);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

#content-team td {
  padding: 5px;
  height: 100px;
  text-align: left;
  background: rgba(177, 177, 177, 0.75);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

#content-team img {
  float: top;
  width: 90px;
  height: 120px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

#content-first img {
  float: left;
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

#content-ftc img {
  float: left;
  width: 200px;
  height: 200px;
}

.content-contact {
  line-height: 200px;
}

#media {
  width: 100%;
  min-width: 900px;
  display: block;
  margin: 50px auto;
  text-align: center;
}

#media a {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0px 25px;
}

#media img {
  width: auto;
  height: 75px;
  opacity: 0.5;

  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

#media img:hover {
  opacity: 1;
}

#copyright {
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 10;
  text-align: center;
  background-image: -webkit-linear-gradient(to right, #606060, #adadad, #606060);
  background-image: -moz-linear-gradient(to right, #000000, #adadad, #000000);
  background-image: -ms-linear-gradient(to right, #606060, #adadad, #606060);
  background-image: -o-linear-gradient(to right, #606060, #adadad, #606060);
  background-image: linear-gradient(to right, #606060, #adadad, #606060);
}
