/*
 * This CSS file contains most of the styling for the tabs.
 * Author: Alvin Lin (alvin.lin@stuypulse.com)
 */

/* Main tabs */
#main-tab-tabs-container {
  width: 100%;
  height: 40px;
  list-style-type: none;
  text-align: center;
  margin: 0;
}

#main-tab-tabs-container > div {
  display: inline-block;
  width: 150px;
  height: 40px;
  margin: 0px 5px;
  line-height: 40px;

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-left-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

#main-tab-tabs-container > div:hover {
  background: rgba(85, 85, 85, 0.5);
}

#main-tab-tabs-container > .unselected {
  background: rgba(132, 132, 132, 0.5);
  cursor: pointer;
}

#main-tab-tabs-container > .selected {
  background: rgba(85, 85, 85, 0.5);
}

#main-tab-content-container {
  position: relative;
  width: 100%;
  height: 550px;
  margin: 0;
  background: rgba(85, 85, 85, 0.5);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

#main-tab-content-container > div {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
}

#main-tab-content-container > .unselected {
  display: none;
}

#main-tab-content-container > .selected {
  display: block;
}

/* Team biography tabs */
.content-team-tabs-container {
  width: 100%;
  height: 40px;
  list-style-type: none;
  text-align: center;
  margin: 0;
}

.content-team-tabs-container > div {
  display: inline-block;
  width: 150px;
  height: 40px;
  margin: 0px 5px;
  line-height: 40px;

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-left-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.content-team-tabs-container > div:hover {
  background: rgba(85, 85, 85, 0.5);
}

.content-team-tabs-container > .unselected {
  background: rgba(132, 132, 132, 0.5);
  cursor: pointer;
}

.content-team-tabs-container > .selected {
  background: rgba(85, 85, 85, 0.5);
}

.content-team-content-container {
  position: relative;
  width: 100%;
  height: 550px;
  margin: 0;
  background: rgba(85, 85, 85, 0.5);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.content-team-content-container > div {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.content-team-content-container > .unselected {
  display: none;
}

.content-team-content-container > .selected {
  display: block;
}

