/*
 * This CSS file contains most of the styling needed in the FTC webpage.
 * Author: Alvin Lin (alvin.lin@stuypulse.com)
 */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Palatino Linotype", sans-serif;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #BDBDBD;
}

#banner {
  position: absolute;
  top: 0px;
  width: 100%;
  min-width: 800px;
  height: 150px;
  background-color: #000000;
}

.banner-img {
  position: relative;
  float: left;
  width: 150px;
  height: 150px;
  background-color: #000000;
}

.banner-text {
  position: relative;
  width: auto;
  min-width: 650px;
  height: 150px;
  margin: auto;

  color: #ec2802;
  font-size: 50pt;
  line-height: 150px;
  text-align: center;
}

#navbar {
  position: fixed;
  width: 150px;
  top: 25%;
  height: auto;

  background-color: #000000;
  border: 1px solid black;

  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#navbar hr {
  background-color: #7F7F7F;
  border: 1px solid #7F7F7F;
  margin: 0px 10px 0px 10px;
}

.navbar-section {
  position: relative;
  width: 130px;
  height: auto;
  margin: 10px;
  background-color: #000000;

  color: #7F7F7F;
  font-size: 18pt;
  line-height: 100px;
  text-align: center;

  -webkit-border-radius: 5px;
  -webkit-transition: background-color 250ms, color 250ms;
  -moz-border-radius: 5px;
  -moz-transition: background-color 250ms, color 250ms;
  border-radius: 5px;
  transition: background-color 250ms, color 250ms;
}

.navbar-current {
  background-color: #9E0508;
}

.navbar-section:hover {
  background-color: #D41A1F;

  -webkit-cursor: pointer;
  -moz-cursor: pointer;
  cursor: pointer;
}

.navbar-current:hover {
  background-color: #9E0508;

  -webkit-cursor: auto;
  -moz-cursor: auto;
  cursor: auto;
}

a, a:visited {
  color: #7F7F7F;
  text-decoration: none;
}
